:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --secondary-text-color: #ffffff;
    --primary-button-color: #ffffff;
    --background-color: #ffffff;
    --background-secondary: #f5f4fa;
    --background-color-hero-footer: #2f303a;
    --border-color: #eeeeee;
    --hero-gradient: rgba(47, 48, 58, 0.4);
    --background-color-hero: #c4c4c4;
    --social-link-color: #afb1b8;
}
